@import url("https://fonts.googleapis.com/css?family=Quantico");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:wght@600&display=swap");
@import url("profiles.css");

.title-div {
    margin: 10% auto;
    text-align: center;
    width: 500px;
}
.title {
  font-family: "Roboto Slab", sans-serif;
  position: relative;
  color: white;
  font-size: 4em;
  z-index:10;
}
@media all and (max-width: 1024px) {
  .title {
    font-size:7em;
  }
}
