@import url("https://fonts.googleapis.com/css?family=Quantico");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:wght@600&display=swap");
@import url("profiles.css");

.title-div {
    margin: 10% auto;
    text-align: center;
    border: 4px;
    width: 40%;
    padding: 1em;
    position: relative;
    z-index:1;
}
.title {
  color:white;
  position: relative;
  font-family: "Roboto Slab", sans-serif;
  font-size: 4em;
  z-index:10;
}
.subtitle {
  color:white;
  position: relative;
    font-size: 1.2em;
    font-weight: lighter;
    font-family: monospace;
  margin: 2em;
  z-index:10;
}
.subtitle a {
  color: white;
}
.background--light, .background--complex {
    background: rgba(25, 25, 25, .55);
  -webkit-transition: all 2.5s linear;
-moz-transition: all 2.5s linear;
-o-transition: all 2.5s linear;
transition: all 2.5s linear;
}
.background--dark {
  -webkit-transition: all 2.5s linear;
-moz-transition: all 2.5s linear;
-o-transition: all 2.5s linear;
transition: all 2.5s linear;
}
@media all and (max-width: 1024px) {
  .title {
    font-size:7em;
  }
  .title-div {
      width: 80%;
  }
  .subtitle {
      margin:10%;
    }
}
